@keyframes sheen {
    0% { left: -150% }
    100% { left: 150% }
}

*[sheen] {
    --transition-duration: var(--td-medium);
    --sheen-duration: var(--transition-duration);
    --sheen-color: rgba(255, 255, 255, 0.1);
    --sheen-width: max(30px, 30%);
    --sheen-angle: -45deg;
    --sheen-iteration-count: var(--iteration-count);

    position: relative;
    overflow: hidden;
}

*[sheen]::before {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: var(--sheen-width);
    height: 100%;
    background: linear-gradient(to right, #fff0 0%, var(--sheen-color) 50%, #fff0 100%);
    transform: skewX(var(--sheen-angle));
    pointer-events: none;
    z-index: 10;
    animation: var(--sheen-name, sheen) var(--sheen-duration) linear var(--sheen-iteration-count)
}

*[sheen~="infinite"] { --sheen-iteration-count: infinite }
*[sheen~="hover"], *[sheen~="active"], *[sheen~="focus"] { --sheen-name: none }
*[sheen~="hover"]:hover, *[sheen~="active"]:active, *[sheen~="focus"]:focus { --sheen-name: sheen }
