@keyframes tada {
    0%   { transform: scale3d(1, 1, 1) }
    10%, 20% { transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg) }
    30%, 50%, 70%, 90% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg) }
    40%, 60%, 80% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg) }
    100% { transform: scale3d(1, 1, 1) }
}

*[tada] {
    --transition-duration: var(--td-slow);
    --tada-duration: var(--transition-duration);
    --tada-iteration-count: var(--iteration-count);
    --tada-name: tada;

    animation: var(--tada-name) var(--tada-duration) ease-in-out var(--tada-iteration-count)
}

*[tada~="infinite"] { --tada-iteration-count: infinite }
*[tada~="hover"], *[tada~="active"], *[tada~="focus"] { --tada-name: none }
*[tada~="hover"]:hover, *[tada~="active"]:active, *[tada~="focus"]:focus { --tada-name: tada }
